<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/my.css">

</head>
<body>
<header>
    <div class="company-logo-name">
        <img src="../../static/img/6793083-84.png" height="64" width="64"/>
        <span class="company-name">Weather Viewer</span>
    </div>

    <div>
        <form class="locations-search">
            <input type="text" name="city_name" placeholder="Search...">
            <button type="submit">
                <img src="../../static/img/search.png"
                     height="25"
                     width="25" /></button>
        </form>
    </div>

    <div class="user">
        <p th:text="${userLogin}">Yuubi</p>
        <form action="/logout" method="post" class="logout-button">
            <button type="submit">logout</button>
        </form>
    </div>
</header>


<div class="location-weather-block">
    <div class="weather-info">
        <span>Hello weather</span>

        <form>
            <button type="submit">
                <img src="../../static/img/trashcan.png"
                     height="25"
                     width="25" /></button>
        </form>
    </div>
</div>

</body>
</html>