<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Forecast</title>
  <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<div th:replace="~{header-component}"></div>
<div class="forecast-main-div">
  <div th:text="${hourlyForecast.getFirst().getName()}" class="forecast-city-name"></div>
  <div class="hourly">hourly</div>
  <div th:each="forecast : ${hourlyForecast}" class="forecast-weather-block">
    <div class="forecast-hourly">
          <div th:text="${forecast.getTime().getHour()+':00'}" class="forecast-time"></div>
          <div th:text="${forecast.getDescription()}" class="forecast-description"></div>
          <img th:src="${forecast.getIconUrl()}" alt="weather-icon">
          <div th:text="${forecast.getTemp()}" class="temp"></div>
    </div>
  </div>
</div>
<div class="back-button-center">
    <form action="/home" class="back-button">
        <button type="submit">Go back</button>
    </form>
</div>

<div th:replace="~{footer-component}"></div>
</body>
</html>