<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forecast</title>
  <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<div th:replace="~{header-component}"></div>

<div class="forecast-main-div">
  <div th:text="${hourlyForecast.getFirst().getName()}" class="forecast-city-name"></div>
  <div class="hourly">hourly</div>
  <div th:each="forecast : ${hourlyForecast}" class="forecast-weather-block">
    <div class="forecast-hourly">
          <div th:text="${forecast.getTime().getHour()+':00'}" class="forecast-time"></div>
          <div th:text="${forecast.getDescription()}" class="forecast-description"></div>
          <img th:src="${forecast.getIconUrl()}" alt="weather-icon">
          <div th:text="${forecast.getTemp()}" class="temp"></div>
    </div>
  </div>
</div>

<div class="forecast-main-div-2">
  <div class="hourly">daily</div>
  <div th:each="forecast : ${dailyForecast}" class="forecast-weather-block">
    <div class="forecast-hourly">
      <div th:text="${forecast.getTime().getDayOfMonth()+' '+forecast.getTime().getMonth()}" class="forecast-time"></div>
      <div th:text="${forecast.getDescription()}" class="forecast-description"></div>
      <img th:src="${forecast.getIconUrl()}" alt="weather-icon">
      <br th:if="${forecast.getDayTemp()} != null">
        <div th:text="${forecast.getDayTemp()}" class="temp-1"></div>
      </br>
      <br th:if="${forecast.getNightTemp() != null}">
        <div th:text="${forecast.getNightTemp()}" class="temp-2"></div>
      </br>
    </div>
  </div>
</div>

<div th:replace="~{footer-component}"></div>
</body>
</html>