<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forecast</title>
  <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<header>
  <a href="/home" class="header-url">
    <div class="company-logo-name">
      <img src="../static/img/6793083-84.png" height="64" width="64"/>
      <span class="company-name">Weather Viewer</span>
    </div>
  </a>
  <form th:action="@{/locations}" method="get" class="locations-search">
    <input type="text" name="city_name" placeholder="Search..." style="margin-left: 65px" required>
    <button type="submit">
      <img src="../static/img/search.png"
           height="25"
           width="25" /></button>
  </form>

  <div class="user">
    <p th:text="${userLogin}"></p>
    <form action="/logout" method="post" class="logout-button">
      <button type="submit">logout</button>
    </form>
  </div>
</header>


<div class="forecast-main-div">

  <div th:text="${hourlyForecast.getFirst().getName()}" class="forecast-city-name">Stavropol</div>
  <div class="hourly">hourly</div>
  <div th:each="forecast : ${hourlyForecast}" class="forecast-weather-block">
    <div class="forecast-hourly">
          <div th:text="${forecast.getTime().getHour()+':00'}" class="forecast-time">ASASAS</div>
          <div th:text="${forecast.getDescription()}" class="forecast-description">ASAS</div>
          <img th:src="${forecast.getIconUrl()}" alt="weather-icon">
          <div th:text="${forecast.getTemp()}" class="temp">ASASASASAS</div>
    </div>
  </div>


</div>

<footer class="footer">
  <div class="container">
    <hr class="footer-separator"/>
    <p>Made by Mich4107</p>
  </div>
</footer>

</body>
</html>