<header>
    <a href="/home" class="header-url">
        <div class="company-logo-name">
            <img src="../static/img/6793083-84.png" height="64" width="64"/>
            <span class="company-name">Weather Viewer</span>
        </div>
    </a>
    <form th:action="@{/locations}" method="get" class="locations-search">
        <input type="text" name="city_name" placeholder="Search..." style="margin-left: 65px" required>
        <button type="submit">
            <img src="../static/img/search.png"
                 height="25"
                 width="25" /></button>
    </form>

    <div class="user">
        <p th:text="${userLogin}"></p>
        <form action="/logout" method="post" class="logout-button">
            <button type="submit">logout</button>
        </form>
    </div>
</header>