<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer</title>
    <link rel="stylesheet" href="../static/css/my.css">

</head>
<body>
<header>
    <div class="company-logo-name">
        <img src="../static/img/6793083-84.png" height="64" width="64"/>
        <span class="company-name">Weather Viewer</span>
    </div>

    <form th:action="@{/locations}" method="get" class="locations-search">
        <input type="text" name="city_name" placeholder="Search..." required title="Enter the city" style="margin-left: 65px">
        <button type="submit">
            <img src="../static/img/search.png"
                 height="25"
                 width="25" /></button>
    </form>

    <div class="user">
        <p th:text="${userLogin}"></p>
        <form action="/logout" method="post" class="logout-button">
            <button type="submit">logout</button>
        </form>
    </div>
</header>

<div th:if="${userLocations.isEmpty()}">
    <div class="weathers">
        <div class="text">
            <p>Places to view the weather have not been added yet. </p>
            <p>Use the search to find a place to observe the weather ;)</p>
        </div>
    </div>
</div>


<div th:each="location : ${userLocations}">
    <div class="location-weather-block">
        <div class="weather">
            <p class="city-name" th:text="${location.getLocationInfo()}">Moscow, RU</p>
            <div class="da">
                <div class="left">
                    <p class="ne" th:text="${location.getTemp()}">+8</p>
                    <img th:src="${location.getIconUrl()}" alt="облачко" width="100px" height="100px">
                </div>
                <div class="medium">
                    <p class="medium-text" th:text="${location.getWeatherDescription()}">Cloudies</p>
                    <p th:text="${location.getTempFeelsLike()}" style="color: #979997">Feels like +7</p>
                </div>
                <div class="right">
                    <img class="ne-two" src="../static/img/wind.png" alt="ветер" width="25px" height=25px>
                    <p class="medium-da" th:text="${location.getWindSpeed()}">2,0 m/s</p><br>
                    <img class="ne-one" src="../static/img/humidity.png" alt="осадки" width="25px" height=25px>
                    <p class="up" th:text="${location.getHumidity()}">70%</p><br>
                    <img class="ne-three" src="../static/img/pressure.png" alt="ветер" width="25px" height=25px>
                    <p class="down" th:text="${location.getPressure()}">782</p><br>
                </div>
            </div>


            <form th:action="@{/home}" method="post">
                <input type="hidden" name="locationId" th:value="${location.getLocationId()}">
                <div class="delete">
                    <button type="submit">
                        <img class="img-delete" src="../static/img/trashcan.png" alt="мусорка" width="22px" height=22px>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>


<div class="page-numbers">
    <div th:if="${totalPages} > 1">

        <span th:if="${currentPage - 1} >= 1" class="left-cursor">
            <a th:href="'/home?page='+${currentPage - 1}"> < </a>
        </span>

        <span th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
            <a th:href="'/home?page='+${pageNumber}"><span th:text="${pageNumber}"></span></a>
        </span>

        <span th:if="${currentPage+1 <= totalPages}">
            <a th:href="'/home?page='+${currentPage + 1}"> > </a>
        </span>

    </div>
</div>


<footer class="footer">
    <div class="container">
        <hr class="footer-separator"/>
        <p>Made by Mich4107</p>
    </div>
</footer>

</body>
</html>