<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<header>
    <a href="/home" class="header-url">
        <div class="company-logo-name">
            <img src="../static/img/6793083-84.png" height="64" width="64"/>
            <span class="company-name">Weather Viewer</span>
        </div>
    </a>

    <form th:action="@{/locations}" method="get" class="locations-search">
        <input type="text" name="city_name" placeholder="Search..." style="margin-left: 65px" required>
        <button type="submit">
            <img src="../static/img/search.png"
                 height="25"
                 width="25" /></button>
    </form>

    <div class="user">
        <p th:text="${userLogin}"></p>
        <form action="/logout" method="post" class="logout-button">
            <button type="submit">logout</button>
        </form>
    </div>
</header>

<div th:if="${locations.isEmpty()}">
    <div class="weathers">
        <div class="text">
            <p>No locations were found for your request :(</p>
            <p>Try to find another city </p>
        </div>
    </div>
</div>


<div th:if="${userAlreadyHasThisLocation}">
    <div class="weathers-da">
        <div class="text-da">
            <p>You are already have this location in your list.</p>
        </div>
    </div>
</div>

<div th:each="location : ${locations}">
    <div class="location-block">
        <div class="location-info">
            <div th:if="${location.getName() == location.getState()}">
                <span th:text="${location.getName() + ', ' + location.getCountry()}" class="div1"></span>
            </div>
            <div th:if="${location.getName() != location.getState()}">
                <span th:if="${location.getState() != null}">
                    <span th:text="${location.getName() +', '+ location.getState() +', '+ location.getCountry()}" class="div1"></span>
                </span>
                <span th:if="${location.getState() == null}">
                    <span th:text="${location.getName() +', '+ location.getCountry()}" class="div1"></span>
                </span>
            </div>
            <form th:action="@{/locations}" method="post">
                <input type="hidden" name="lat" th:value="${location.getLatitude()}">
                <input type="hidden" name="lon" th:value="${location.getLongitude()}">
                <input type="hidden" name="user" th:value="${userLogin}">
                <input type="hidden" name="city_name" th:value="${city_name}">

                <button type="submit">
                    <img src="../static/img/checkmark.png"
                         height="35"
                         width="35" /></button>
            </form>
            <div class="central-line">

            </div>
        </div>
    </div>
</div>

<div class="back-button-center">
    <form action="/home" class="back-button">
        <button type="submit">Go back</button>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <hr class="footer-separator"/>
        <p>Made by Mich4107</p>
    </div>
</footer>
</body>
</html>