@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #151719;
    color: white;
}

h4  {
    display: flex;
    justify-content: center;
    color: dodgerblue;
    text-transform: uppercase;
}

.header-url {
    text-decoration: none;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-block {
    background-color: #222222;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;

}
.form-control {
    background-color: #121212;
    border-color: #2F3032;
    width: 100%;
}


.btn-primary {
    margin-left: 15px;
    width: 160px;
}
.sign-up-href {
    margin-left: 60px;
}
.wrong-data {
    color: orangered;
    font-size: 6px;
}


header {
    background-color: #2F3032;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 200px;
    padding-right: 200px;
}

.company-logo-name {
    display: flex;
    align-items: center;
}

.company-name {
    color: white;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 26px;
}

.company-logo-name img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(1000%);
}

.user {
    display: flex;
    align-items: center;
}

.user p {
    margin-right: 20px;
    font-size: 24px;
}

.logout-button button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 7px;
    padding: 5px 10px;
}


.logout-button button:hover {
    background-color: #0a0a0a;
}


.locations-search {
    margin-top: 30px;
    display: flex;
    margin-right: 9%;
}

.locations-search input[type="text"]{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    color: white;


    border: 1px solid white;
    min-width: 0
}

.locations-search button[type="submit"]{
    width: 15%;
    padding: 7px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: white;
}
.locations-search button[type="submit"]:hover{
    background-color: #4d4d4d;
}
.locations-search img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(1000%);
}

.weathers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 0;
    padding: 0;
}

.weathers text {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    max-width: 80%;
}

.weathers-da{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.text-da {
    padding: 20px;
    text-align: center;
    max-width: 80%;
    margin-bottom: -20px;
}
.text p {
    font-size: 22px;
    padding: 7px;
}

.location-weather-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    margin-top: 1.5%;
    padding: 0;
    border-radius: 12px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 25px 18px 30px;
    width: 600px;
    background-color: #000000;
    border: 1px #ffffff solid;
    border-radius: 10px;
}

.city-name {
    font-size: 20px;
    margin: 0;
}

.da {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.ne {
    margin-right: 10px;
    font-size: 50px;
}

.medium {
    margin-left: -40px;
    margin-right: 40px;
    font-size: 17px;
    text-align: left;

}

.up, .medium-da, .down {
    position: relative;
    display: inline;
    align-items: center;
    top: -7px
}

.up, .medium-da {
    margin-bottom: 5px;
}

.right {
    margin-left: -20px;
    margin-right: 20px;
}





.delete {
    display: flex;
    justify-content: flex-end;
}

.location-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
    margin: 50px auto;
    padding: 0;
}

.location-info {
    width: 400px;
    height: 30%;
    padding: 20px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    font-size: 22px;
}

.div1 {
    position: relative;
    display: flex;
    margin-bottom: 55px;
}

.central-line {
    position: absolute;
    /*~~~~~~~~*/
    width: 350px;
    border-bottom: 1px solid white;
    margin: 0 auto;
}


.location-info button {
    position: relative;
    display: flex;
    margin-bottom: 50px;


    border: none;
    background-color: transparent;

    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.location-info button[type="submit"]:hover {
    background-color: #4d4d4d;
}

.location-weather-block button[type="submit"] {
    position: relative;
    bottom: -10px;
    left: 16px;

    border: none;
    border-radius: 30px;
    background-color: transparent;
}

.location-weather-block button[type="submit"]:hover {
    background-color: #4d4d4d;
}

.back-button-center{
    position: absolute;
    top: 50%;
    left: 50%;
}
.back-button button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px 10px;
    text-align: center;
    position: fixed;
    bottom: 120px;
    margin-left: -2%;
}
.back-button button:hover {
    background-color: #0a0a0a;
}

.forecast-button button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white !important;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: -25px;
}
.forecast-button button[type="submit"]:hover {
    background-color: #4d4d4d;
}

.forecast-weather-block {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 22vh;
    margin-top: 80px;
    padding: 0;
}

.forecast-hourly {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 25px 18px 30px;
    width: 170px;
    height: 250px;
    background-color: #000000;
    border: 1px #ffffff solid;
}

.forecast-time {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 22px;
}
.forecast-description {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    margin-top: 35px;
    margin-left: 5px;
}
.forecast-hourly img {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-top: -10px;
}
.temp {
    position: absolute;
    margin-top: 160px;
    font-size: 28px;
}

.temp-1{
    position: absolute;
    margin-top: 110px;
    font-size: 28px;

}
.temp-2 {
     position: absolute;
     margin-top: 160px;
     font-size: 18px;
     color: #979997;
}
.forecast-city-name {
    display: inline-block;
    font-size: 30px;
    position: absolute;
}

.forecast-main-div {
    position: relative;
    margin-top: 20px;
    width: 47%;
    margin-left: 27%;
}
.forecast-main-div-2 {
    position: relative;
    margin-top: 50px;
    width: 950px;
    margin-left: 27%;
}

.hourly {
    position: absolute;
    margin-top: 47px;
    font-size: 20px;
    color: #979997;
}

.page-numbers {
    position: relative;
    text-align: center;
    margin-top: 15px;
}
.page-numbers a{
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: #696969;
    border-radius: 4px;
}

.left-cursor {
    margin-right: 4px;
}

.page-numbers a:hover{
    background-color: #4d4d4d;
}
.footer {
    background-color: #151719;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #4d4d4d;
}
.footer-separator {
    border: none;
    border-top: 1px solid #4d4d4d;
    margin: 10px 0;
    margin-left: 30%;
    margin-right: 30%;
}

.footer p {
    margin: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 10px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
    color: #007bff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 2000px){
    .form-control {
        width: 270px;
    }
}

@media screen and (max-width: 1600px){
    .back-button button {
        margin-left: -3%;

    }
}

@media screen and (max-width:1200px) {


    .weather-info {
        width: 475px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .locations-search input[type="text"] {
        width: 300px;
        margin-left: 15px;
    }
    .back-button button {
        margin-left: -4%;

    }
}

@media screen and (max-width:1000px) {
    .user {
        margin-left: -60px;
    }
    .back-button button {
        margin-left: -5%;

    }
}

@media screen and (max-width: 700px) {
    .location-weather-block {
        margin-top: 3%;
    }

    .text p {
        margin-left: 15px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .locations-search input[type="text"] {
        width: 60%;
        margin-left: 15px;
    }
    .locations-search button[type="submit"] {
        width: 30%;
    }
    .back-button button {
        margin-left: -9%;

    }
}

@media screen and (max-width: 550px){
    .location-weather-block {
        /*height: 22vh;*/
        margin-top: 4%;
    }
    .left img {
        margin-left: -30px;
    }

    .medium {
        margin-left: -75px;
    }
    .right{
        margin-left: -60px;
    }
    .user {
        margin-left: -47px;
    }
    .user button {
        margin-left: -19px;
    }
    .locations-search input[type="text"] {
        width: 70px;
        margin-left: 5px;
    }
    .locations-search button[type="submit"]{
        width: 50px;
    }
    .back-button button {
        margin-left: -9%;

    }
}

@media screen and (max-width: 525px){
    .location-weather-block {
        /*height: 22vh;*/
        margin-top: 4%;
    }
    .user {
        margin-left: -52px;
    }
    .user button {
        margin-left: -19px;
    }
}

@media screen and (max-width: 500px){
    .location-weather-block {
        margin-top: 4%;
    }


    .left img {
        margin-left: -30px;
    }

    .medium {
        margin-left: -75px;
    }
    .right{
        margin-left: -56px;
    }
    .user {
        margin-left: -47px;
    }
    .user button {
        margin-left: -19px;
    }
    .locations-search input[type="text"] {
        width: 70px;
        margin-left: 5px;
    }
    .locations-search button[type="submit"]{
        width: 50px;
    }
    .back-button button {
        margin-left: -9%;
    }
}
